@import "_nullStyle";
body {
	background: url(/img/bg.png) 55% 105px no-repeat;
	background-color: #e8e8e8;

}
.content {
	max-width: 841px;
	// margin: 125px auto 137px auto;
	padding: 168px 0 137px 0;
	margin: 0 auto;
	// border: 1px solid black;
}
.content-top {
	text-align: center;
	margin-bottom: 64px;

		&__category {
		color: #748187;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		margin-bottom: 14px;			  
		}

		&__h1 {
		color: #273d46;
		font-size: 36px;
		line-height: 50px;
		max-width: 725px;
		margin: 0px auto;
		}
}
.content-img {
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
	background-color: white;
	padding: 10px;
	img{
		max-width: 100%;
	}
	margin-bottom: 86px;

}
.content-bottom {
	padding: 0px 45px;

	&__text {
		opacity: 0.8;
		color: #273d46;
		font-size: 24px;;
		line-height: 40px;
		margin-bottom: 55px;
		max-width: 736px;
		p {
			margin-bottom: 36px;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	&__information {
		margin-bottom: 62px;
	}

	&__list {
		li {
			background: url(/img/icons/check.png) left no-repeat;
			padding-left: 35px;
			margin-bottom: 13px;
			font-size: 20px;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		}
		li:nth-child(1) {
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
			font-weight: 400;
			color: #273d46;
		}
		li:nth-child(2) {
			font-style: italic;
			color: #80b7b3;
			
		}
		li:nth-child(3) {
			color: #273d46;
			font-weight: bold;
		}
		li:nth-child(4) {
			color: #aeb5b7;
			text-decoration: line-through;
		}
		li:last-child {
			margin: 0;
		}
	}
	&__button {
		display: inline-block;
		line-height: 44px;
		padding-right: 30px;
		height: 44px;
		box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
		background-color: #80b7b3;
		border-radius: 20px;
		padding: 0 30px;
		
		span{
			color: #ffffff;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 14px;
			line-height: 40px;
			text-transform: uppercase;
			letter-spacing: 2.8px;
			padding-right: 30px;
			background: url(/img/icons/arrow.svg) right no-repeat;

		}
	}
}





