@import "_nullStyle";

.example {
	font-size: 50px;

	&__block {
		visibility: hidden;
		margin: 30px;
	}
z
	&__string {
		display: inline-block;
		border: 5px dashed #000;
		margin: 0 0 30px 0;
	}

	&__img {
		border-radius: 120px;
		height: 200px;
		width: 200px;
	}
}
